.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.paragraph {
  text-align: justify;
  margin: 34px 18px;
  font-size: 1.5rem;
  max-width: 98%;
}

.scroll {
  filter: invert(100%);
}