.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.paragraph {
  text-align: justify;
  margin: 34px 18px;
  font-size: 1.5rem;
  max-width: 98%;
}

.scroll {
  filter: invert(100%);
}

/* .blink-class {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
} */

.translate-vertical {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}