.skills-container {
  background: linear-gradient(90deg, #042233 0%, rgba(0, 0, 0, 0.90) 119.72%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  width: 100%;
}

.hidden {
  opacity: -1;
  transition: all 3s;
}

.show {
  opacity: 1;
  color: white;
}

.leftHidden {
  translate: -100px;
  transition: all 3s;
}

.transitionFinished {
  translate: 0;
}